*{
    box-sizing: border-box;
}

body , html{
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

p{
    margin: 0;
}

h1,h2,h3{
    margin: 0;
    font-weight: 400;
}

ul , li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    padding: 0;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.wrapper{
    overflow: hidden;
}

.container{
    width: 1440px;
    margin: 0 auto;
    max-width: 100%;
}

.button{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.button::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fff;
    margin-right: 30px;
    vertical-align: middle;
}

.button--rotate:before{
    display: none;
}

.button--rotate:after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fff;
    margin-left: 30px;
    vertical-align: middle;
}

.preview{
    background: #000;
}

.preview .container{
    display: flex;
}

.preview__left{
    padding-top: 26px;
}

.preview__content{
    max-width: 500px;
}

.preview__subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.preview__title{
    font-family: Montserrat;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 30px;
}

.preview__text{
    font-size: 15px;
    line-height: 24px;
    padding-right: 42px;
}

.header{
    margin-bottom: 154px;
}

.about-me{
    background-color: #1a1a1a;
}

.about-me .container{
    position: relative;
    padding: 120px 0 96px 0;
}

.about-me__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.about-me__avatar{
    margin-bottom: 69px;
}

.about-me__name{
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.about-me__text{
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    max-width: 450px;
}

.about-me__section-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 240px;
    color: #6236FF;
    mix-blend-mode: normal;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    z-index: 1;

    white-space: nowrap;
}

.avatar{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar--60{
    height: 60px;
    width: 60px;
}

.avatar__icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.statistics{
    padding: 122px 0 125px;
    background: url(./img/bg-statistics.png) center center no-repeat;
    background-size: cover;
}

.statistics__list{
    display: flex;
    justify-content: center;
}

.statistics__item{
    text-align: center;
    margin-right: 100px;
}
.statistics__item:last-child{
    margin-right: 0;
}

.statistics__value{
    font-family: Montserrat;
    font-size: 80px;
    margin-bottom: 14px;
}

.statistics__text{
    font-size: 24px;
}

.plan{
    background-color: #1a1a1a;
    padding: 92px 0 120px;
}

.plan__content{
    text-align: center;
    margin-bottom: 84px;
}

.plan__subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.plan__title{
    font-family: Montserrat;
    font-size: 48px;
}

.plan__list{
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.plan__item{
    flex: 1;
    border-right: 1px solid #fff;
    padding: 60px 30px;
}

.plan__item:first-child{
    border-left: 1px solid #fff;
}

.plan__item-title{
    font-family: Montserrat;
    font-size: 34px;
    margin-bottom: 27px;
}

.plan__item-name{
    font-size: 14px;
    line-height: 64px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.plan__item-cost{
    font-family: Montserrat;
    font-size: 34px;
    line-height: 51px;
    text-align: right;
    margin-bottom: 20px;
}

.plan__item-button{
    text-align: right;
}

.form{
    background-color: #1a1a1a;
}

.form .container{
    padding: 120px 160px;
}

.form__content{
    background-color: #000000;
    padding: 51px 0 60px;
    text-align: center;
}

.form__title{
    font-family: Montserrat;
    font-size: 48px;
    margin-bottom: 30px;
}

.form_text{
    font-size: 15px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 644px;
}

.form__block{
    display: flex;
    flex-direction: column;
    max-width: 543px;
    margin: 0 auto;
}

.form__input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 30px;
}

.form__button{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 13px;
    align-self: flex-end;
}

.gallery{
    background-color: #1a1a1a;
}

.gallery__list{
    display: flex;
    flex-wrap: wrap;
}
.gallery__item{
    width: 360px;
    height: 360px;
    transition: opacity .4s;
}

.gallery__item:hover{
    cursor: pointer;
    opacity: .7;
}

.footer{
    background: #000000;
    padding: 79px 0 84px;
}

.footer .container{
    display: flex;
    justify-content: center;
}

.footer__menu{
    margin-bottom: 31px;
}

.footer__socials{
    margin-bottom: 30px;
}

.footer__copyright{
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.18182px;
    text-transform: uppercase;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__item{
    margin-right: 31px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.socials__list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__item{
    margin-right: 30px;
}

.socials__item:last-child{
    margin-right: 0;
}

.feedback{
    background-color: #1a1a1a;
    padding: 35px 0 48px;
}

.feedback__content{
    text-align: center;
    margin-bottom: 109px;
}

.feedback__subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feedback__title{
    font-family: Montserrat;
    font-size: 48px;
    line-height: 56px;
    max-width: 450px;
    margin: 0 auto;
}

.feedback__list{
    margin-bottom: 49px;
    display: flex;
}

.feedback__item{
    background-color: #000000;
    max-width: 353px;
    padding: 30px 26px 26px;
    margin-right: 27px;
}

.feedback__item:last-child{
    margin-right: 0;
}

.feedback__text{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 24px;
}

.feedback__user{
    display: flex;
}

.feedback__user-avatar{
    margin-right: 10px;
}

.feedback__user-name{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 7px;
}

.feedback__user-position{
    font-size: 13px;
}

.feedback__buttons{
    display: flex;
    justify-content: space-between;
}

.portfolio{
    background-color: #1a1a1a;
    padding: 120px 80px;
}

.portfolio__content{
    text-align: center;
    margin-bottom: 109px;
}

.portfolio__subtitle{
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.portfolio__title{
    font-family: Montserrat;
    font-size: 48px;
    margin-bottom: 30px;
}

.portfolio__text{
    font-size: 15px;
    line-height: 24px;
    max-width: 620px;
    margin: 0 auto;
}

.portfolio__list{
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
}

.portfolio__item{
    margin-left: 350px;
}

.portfolio__buttons{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:550px) {
    .footer {
        padding: 101px 0 46px;
    }

    .gallery__item {
        height: 276px;
        width: 50%;
        overflow: hidden;
    }

    .gallery__item:nth-child(n+ 5){
        display: none;
    }

    .form .container{
        padding: 120px 0;
    }

    .form__content{
        padding: 32px 50px 58px;
    }

    .plan__list{
        flex-wrap: wrap;
        border: 1px solid #fff;
    }

    .plan__item{
        width: 100%;
        padding: 17px 28px 15px;
    }
    .plan__item:first-child{
        border-left: none;
        border-bottom: 1px solid #fff;
    }

    .plan__item:last-child{
        border-right: none;
    }

    .plan__item:nth-child(2){
        border-right: none;
        border-bottom: 1px solid #fff;
    }
    
    .plan__item-title{
        font-style: 28px;
    }

    .plan__item-name{
        line-height: 50px;
    }

    .plan__item-cost{
        text-align-last: left;
    }

    .plan__item-button{
        display: none;
    }

    .plan__title{
        font-size: 38px;
    }

    .plan{
        padding: 100px 0 105px;
    }

    .statistics__list{
        flex-direction: column;
    }
    .statistics__item{
        margin-right: 0;
        margin-bottom: 45px;
    }

    .statistics__item:last-child{
        margin-bottom: 0;
    }

    .statistics__value{
        font-size: 50px;
        font-weight: bold;
    }
    .statistics{
        padding: 50px 0 60px;
    }

    .feedback__buttons{
        padding: 0 45px;
    }

    .portfolio__buttons{
        padding: 0 45px;
    }

    .portfolio__title{
        font-size: 38px;
    }

    .portfolio__item{
        margin-left: 0;
    }

    .about-me__section-title{
        font-size: 90px;
        top: 84px;
    }

    .avatar{
        width: 200px;
        height: 200px;
    }

    .avatar--60{
        height: 60px;
        width: 60px;
    }

    .preview .container{
        flex-direction: column;
    }

    .preview__right{
        height: 800px;
    }

    .preview__left{
        padding-top: 41px;
        padding-left: 51px;
        padding-bottom: 6px;
    }

    .header{
        margin-bottom: 58px;
    }
    .preview__title{
        font-size: 38px;
        font-weight: bold;
    }

    .preview__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .feedback__item{
        width: 353px;
        flex-shrink: 0;
    }
}